.sheet-material
  p Shelves/top: #{shelf_width} x #{shelf_depth} (#{shelf_count + 1} off)
  p Sides: #{side_height} x #{side_depth} (2 off)
  p <i>Minimum</i> number of sheets needed: #{minimum_number_of_sheets_needed}

